body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 30px;
}

.bio {
    width: 35%;
    margin: auto;
}

.top-container {
    height: 510px;
    background-image: url("./images/leone-venter-VieM9BdZKFo-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: #dfdfdf; */
    position: relative;
    padding-top: 100px;
    color: black;
    margin-bottom: 0;
    color: #e4c45b;
}

.middle-container {
    margin-top: 0;
    background-color: #F2F2F2;
    color: #011f58;
}

hr {
    border-style: dotted;
    border-color: rgb(170, 178, 180);
    border-bottom: 0;
    border-width: 2px;
    width: 10%;
}

.bottom-container {
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #efefef;
    color: #becfee;
}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 50px
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
}

.myImg {
    width: 200px;
    border-radius: 100%;
    border: solid #e4c45b;
}

.skills-img {
    width: 200px;
    border: solid black;
    border-radius: 40%;
}

.description {
    font-family: 'Sacramento', cursive;
    /* 16px = 1em = 1rem = 100 % */
    font-size: 2.5rem;
    font-weight: bolder;
}

.skill-row {
    width: 50%;
    margin: 100px auto 150px auto;
    text-align: left;
}

.skills-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.movie-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

h1 {
    margin-top: 0;
    /* 16px = 1em = 1rem = 100 % */
    /* font-size: 50px; */
    font-size: 3.125em;
    margin: 30px auto 0 auto;
}

h2 {
    font-size: 2.5rem;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #4f4f4f;
    background-image: -webkit-linear-gradient(top, #4f4f4f, #3498db);
    background-image: -moz-linear-gradient(top, #4f4f4f, #3498db);
    background-image: -ms-linear-gradient(top, #4f4f4f, #3498db);
    background-image: -o-linear-gradient(top, #4f4f4f, #3498db);
    background-image: linear-gradient(to bottom, #4f4f4f, #3498db);
    text-decoration: none;
    color: white;
}

a {
    font-weight: bold;
    text-decoration: none;
    padding-right: 20px;
}

a:hover {
    color: #b90000;
}
